<html>
    <body>
        <table>
            <tr>
                <td style="width: 100px">Número:</td>
                <td>$cliente.id</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>$cliente.nome</td>
            </tr>
            <tr>
				<td>CPNJ/CPF:</td>
				<td>$cliente.documentoReceitaFederal</td>				
			</tr>
			<tr>
				<td>E-mail:</td>
                <td>$cliente.email</td>
			</tr>
        </table>
        
        <br/>
        <table border="1" cellspacing="0" cellpadding="3">
            <tr>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>Cep</th>
            </tr>
            #foreach ($endereco in $cliente.enderecos)
            	#if ($endereco.id)
	            <tr>
	                <td>$endereco.logradouro</td>
	                <td>$endereco.numero</td>
	                <td>$endereco.complemento</td>
	                <td>$endereco.cidade</td>
	                <td>$endereco.uf</td>
	                <td>$endereco.cep</td>
	            </tr>
	            #end
            #end
        </table>
    </body>
</html>